# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
import pandas as pd
dfHeaders = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']

As per usual, load up the specified dataset, setting appropriate header labels.

In [8]:
df=pd.read_csv("/Users/kylebradshaw/OneDrive/Development/edX/Microsoft/DAT210x - Python Data Science/Module2/Datasets/census.data", names=dfHeaders)
df.fillna(method='ffill')
df['capital-gain'] = df['capital-gain'].replace('?', 0)
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,0,White,0,13,Male,<=50K
2,HS-grad,38,0,White,0,40,Male,<=50K
3,11th,53,0,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [11]:
df.dtypes
df['capital-gain'] = df['capital-gain'].astype('int64', copy=True, errors='raise')
df

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,0,White,0,13,Male,<=50K
2,HS-grad,38,0,White,0,40,Male,<=50K
3,11th,53,0,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K
6,9th,49,0,Black,0,16,Female,<=50K
7,HS-grad,52,0,White,0,45,Male,>50K
8,Masters,31,14084,White,0,50,Female,>50K
9,Bachelors,42,5178,White,0,40,Male,>50K
10,Some-college,37,0,Black,0,80,Male,>50K
11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
12,Bachelors,23,0,White,0,30,Female,<=50K
13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
14,HS-grad,25,0,White,0,35,Male,<=50K
15,HS-grad,32,0,White,0,40,Male,<=50K
16,11th,38,0,White,0,50,Male,<=50K
17,Masters,43,0,White,0,45,Female,>50K
18,Doctorate,40,0,White,0,60,Male,>50K
19,HS-grad,54,0,Black,0,20,Female,<=50K
20,9th,35,0,Black,0,40,Male,<=50K
21,11th,43,0,White,2042,40,Male,<=50K
22,HS-grad,59,0,White,0,40,Female,<=50K
23,Bachelors,56,0,White,0,40,Male,>50K
24,HS-grad,19,0,White,0,40,Male,<=50K
25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
26,HS-grad,39,0,White,0,80,Male,<=50K
27,HS-grad,49,0,White,0,40,Male,<=50K
28,Some-college,20,0,Black,0,44,Male,<=50K
29,Bachelors,45,0,White,1408,40,Male,<=50K
...,...,...,...,...,...,...,...,...
29506,HS-grad,30,0,White,0,55,Male,<=50K
29507,10th,32,0,White,0,40,Male,<=50K
29508,Some-college,22,0,White,0,40,Male,<=50K
29509,HS-grad,31,0,White,0,40,Female,<=50K
29510,HS-grad,29,0,White,0,35,Female,<=50K
29511,Bachelors,35,0,White,0,55,Female,>50K
29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29513,Doctorate,34,0,White,0,60,Male,>50K
29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29515,Some-college,37,0,White,0,39,Female,<=50K
29516,12th,22,0,Black,0,35,Male,<=50K
29517,Bachelors,34,0,White,0,55,Female,>50K
29518,HS-grad,30,0,Black,0,46,Male,<=50K
29519,Bachelors,38,15020,Black,0,45,Female,>50K
29520,Doctorate,71,0,White,0,10,Male,>50K
29521,HS-grad,45,0,White,0,40,Female,<=50K
29522,HS-grad,41,0,Black,0,32,Female,<=50K
29523,HS-grad,72,0,White,0,25,Male,<=50K
29524,Masters,31,0,Other,0,30,Female,<=50K
29525,HS-grad,43,0,White,0,40,Male,<=50K
29526,Some-college,43,0,White,0,40,Female,<=50K
29527,Some-college,43,0,White,0,50,Male,<=50K
29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29530,Masters,53,0,White,0,40,Male,>50K
29531,Some-college,22,0,White,0,40,Male,<=50K
29532,HS-grad,40,0,White,0,40,Male,>50K
29533,HS-grad,58,0,White,0,40,Female,<=50K
29534,HS-grad,22,0,White,0,20,Male,<=50K
29535,HS-grad,52,15024,White,0,40,Female,>50K

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [12]:
for column in df:
    print(column)
    print(df[column].unique())

education
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']
age
[39 50 38 53 28 37 49 52 31 42 30 23 34 25 32 43 40 54 35 59 56 19 20 45
 22 48 21 24 57 44 18 47 46 41 29 36 79 27 67 33 76 17 55 61 70 64 71 68
 51 58 26 60 90 66 65 77 62 63 80 72 74 69 73 81 78 75 82 83 84 85 88 86
 87]
capital-gain
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594  6849  4101  1111  3411
  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580  3471  4865
  6514  1471  2329 99999 20051  2105  2885 25124 10520  2202  2961 27828
  6767  8614  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062 15020  1424  3273 22040  4416 10566
   991  4931  1086  7430  6497   114  7896  2346  3432  2907  1151  2414
  2290  3418 15831 41310  4508  5455  2538  3456  3908  1848  3887  5721
  9562  6418  1455  2036  1831 11678  2936  2993  7443  6360  2354  1797
  1173  4687  2009  6097  2653 18481  7978  2387  6723  5060]
race
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
capital-loss
[   0 2042 1408 1573 1902 1887 1719 1762 2179 1816 1980 1977 1876 1340
 2206 1741 1485 1564 2339 2415 1721 1380 2051 2352 1672  653 2392 1504
 2001 1590 1651 1628 1848 1740 2002 1579 2258 1669 1602  419 2547 2174
 2205 1138 2238  625 2377  213 1539  880 1092 1594 3004 2231 1844  810
 2559 2057 1974  974 1825 1735 1258 2129 2603 2282  323 4356 2444 2246
 2149 1617 1648 2824 2489 3770 1755 3683 1668 1726 2267 2457  155 3900
 2201 1944 2467 2163 2754 2472 1411]
hours-per-week
[40 13 16 45 50 80 30 35 60 20 44 15 25 38 43 55 48 58 32 70  2 22 56 41
 28 24 46 12 65 42  1 36 10 34 75 98 54  8  6 19 18 72  5  9 47 37 21 64
 26 14  4 59 33  7 52 99 53 39 62 57 78 90 66 11 49 84 17 68 27  3 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
sex
['Male' 'Female']
classification
['<=50K' '>50K']

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [13]:
typeA = df.education
typeB = df[['education']]
print(typeA)
print(type(typeA))
print(typeB)
print(type(typeB))

0           Bachelors
1           Bachelors
2             HS-grad
3                11th
4           Bachelors
5             Masters
6                 9th
7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
12          Bachelors
13            7th-8th
14            HS-grad
15            HS-grad
16               11th
17            Masters
18          Doctorate
19            HS-grad
20                9th
21               11th
22            HS-grad
23          Bachelors
24            HS-grad
25       Some-college
26            HS-grad
27            HS-grad
28       Some-college
29          Bachelors
             ...
29506         HS-grad
29507            10th
29508    Some-college
29509         HS-grad
29510         HS-grad
29511       Bachelors
29512       Bachelors
29513       Doctorate
29514       Bachelors
29515    Some-college
29516            12th
29517       Bachelors
29518         HS-grad
29519       Bachelors
29520       Doctorate
29521         HS-grad
29522         HS-grad
29523         HS-grad
29524         Masters
29525         HS-grad
29526    Some-college
29527    Some-college
29528            10th
29529         Masters
29530         Masters
29531    Some-college
29532         HS-grad
29533         HS-grad
29534         HS-grad
29535         HS-grad
Name: education, Length: 29536, dtype: object
<class 'pandas.core.series.Series'>
          education
0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
5           Masters
6               9th
7           HS-grad
8           Masters
9         Bachelors
10     Some-college
11        Bachelors
12        Bachelors
13          7th-8th
14          HS-grad
15          HS-grad
16             11th
17          Masters
18        Doctorate
19          HS-grad
20              9th
21             11th
22          HS-grad
23        Bachelors
24          HS-grad
25     Some-college
26          HS-grad
27          HS-grad
28     Some-college
29        Bachelors
...             ...
29506       HS-grad
29507          10th
29508  Some-college
29509       HS-grad
29510       HS-grad
29511     Bachelors
29512     Bachelors
29513     Doctorate
29514     Bachelors
29515  Some-college
29516          12th
29517     Bachelors
29518       HS-grad
29519     Bachelors
29520     Doctorate
29521       HS-grad
29522       HS-grad
29523       HS-grad
29524       Masters
29525       HS-grad
29526  Some-college
29527  Some-college
29528          10th
29529       Masters
29530       Masters
29531  Some-college
29532       HS-grad
29533       HS-grad
29534       HS-grad
29535       HS-grad

[29536 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>

Lastly, print out your dataframe!

In [19]:
print(df.loc[0:4,['education', 'race']])

   education   race
0  Bachelors  White
1  Bachelors  White
2    HS-grad  White
3       11th  Black
4  Bachelors  Black